@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Red+Hat+Display:ital,wght@0,700;0,900;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Primary */
:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);

  /* Neutral */

  --Very-pale-blue: hsl(224, 23%, 55%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
body {
  background-color: var(--Pale-blue);
  background-image: url(images/pattern-background-mobile.svg);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: top center;
  font-family: Outfit, sans-serif;
  text-align: center;
  padding: 4rem 0;
  margin: 0 auto;
}
.order {
  font-size: 1.55rem;
}
.hero {
  margin-bottom: 2em;
}
.cont {
  margin: 1.5em 0;
}

.content {
  background-color: white;
  max-width: 75%;
  border-radius: 1em;
  margin: 0 auto;
  padding-bottom: 0.3em;
  filter: blur(0.6px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero {
  width: 100%;
  border-radius: 1em 1em 0 0;
}
ul li {
  list-style: none;
}
.cont {
  color: var(--Very-pale-blue);
  font-size: 1.125rem;
  font-weight: 700;
}
.annual {
  background-color: hsla(225, 100%, 98%);
  display: flex;
  padding: 0.5em;
}
#annual {
  font-size: 1rem;
  font-weight: 700;
  color: var(--Dark-blue);
  margin-bottom: 0.2em;
}
ul {
  margin-left: 1em;
  margin-right: 4em;
}
#bill {
  color: var(--Very-pale-blue);
  font-size: 1rem;
  font-weight: 500;
}

.change {
  color: var(--Bright-blue);
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 1em;
  text-decoration: underline;
}
.pay {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.proceed {
  width: 70%;
  background-color: var(--Bright-blue);
  padding: 0.8em;
  color: var(--Pale-blue);
  font-weight: 700;
  font-size: 1rem;
  margin: 2em 0;
  border-radius: 0.5em;
}
.cancle {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--Very-pale-blue);
  margin-bottom: 0.8em;
}
.attribution {
  font-size: 12px;
  text-align: center;
  text-align: center;
  margin-top: 1em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 375px) and (min-width: 1000px) {
  .content {
    max-width: 375px;
    filter: blur(0);
  }
  body {
    background-image: url(/images/pattern-background-desktop.svg);
    background-image: 100vw;
  }
  .change:hover {
    cursor: pointer;
  }
  .cancle:hover {
    cursor: pointer;
  }
  .proceed:hover {
    cursor: pointer;
  }
}
